.animated-button-container {
  display: inline-block;
}

.button {
  -webkit-font-smoothing: antialiased;
  background-color: #2a50a2;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 10px 25px;
  /* text-transform: uppercase; */
  transition: all 0.1s ease-out;
  text-align: center;
  border-radius: 6px;
}

.button:hover {
  background-color: #2a3070;
  color: #fff;
}

.button:active {
  transform: scale(0.95);
}

.button--bubble {
  position: relative;
  z-index: 2;
  color: white;
  background: none;
  text-align: center;
}

.button--bubble:hover {
  background: none;
}

.button--bubble:hover + .button--bubble__effect-container .circle {
  background: #2a3070;
}

.button--bubble:hover + .button--bubble__effect-container .button {
  background: #2a3070;
}

.button--bubble:active + .button--bubble__effect-container {
  transform: scale(0.95);
}

.button--bubble__container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.button--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1;
  transform: translateY(-50%);
  background: #2a50a2;
  transition: background 0.1s ease-out;
  border-radius: 6px;
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.button--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #2a50a2;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}

.button--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
} 